* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #f5f5f5;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #333;
}

body,
html {
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  display: flex;
  max-width: 1000px;
  width: 100%;

  height: calc(100vh - 80px);
  height: auto;

  margin: 40px 0;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}

.welcome-section {
  flex: 1;
  background: linear-gradient(135deg, #1e3a8a 0%, #2563eb 100%);
  color: white;
  padding: 50px 40px;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  position: relative;
  overflow: hidden;
}

/* welcome section */
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.logo {
  width: 120px;
  height: 120px;

  background: linear-gradient(135deg, #1e3a8a 0%, #2563eb 100%);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 8px 20px rgba(18, 3, 133, 0.4);
  position: relative;
}

.company-name {
  font-size: 2.125rem;
  font-weight: 800;
  margin-bottom: 5px;

  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.company-subtitle {
  font-size: 1.125rem;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
}
.welcome-section h1 {
  font-size: 2rem;
  font-weight: 700;

  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.welcome-section p {
  font-size: 1.125rem;
  max-width: 300px;

  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
}

.feature {
  margin-top: 10px;
}

/* login section */

.login-section {
  flex: 1;
  padding: 20px 30px 5px 30px;
  background-color: #fefefe;
}

.login-header {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.login-header h2 {
  color: #1e3a8a;
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.login-header p {
  color: #666;
  font-size: 1rem;
}


/* form control */

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;

  font-weight: 600;
  color: #555;
}

.input-with-icon {
  position: relative;
}

.input-with-icon i {
  position: absolute;
  right: 15px;
  top: 40%;
  color: #777;
}

.form-control {
  width: 100%;
  padding: 15px 35px 15px 45px;

  border: 1px solid #e0e0e0;
  border-radius: 10px;

  font-size: 1rem;
  background-color: white;
}

.btn-login {
  border: none;
  border-radius: 10px;

  padding: 12px;
  width: 100%;
  margin-top: 10px;

  color: white;
  font-size: 1.125rem;
  font-weight: 600;

  cursor: pointer;
  background: linear-gradient(to right, #ff8c42, #ffb347);
  box-shadow: 0 4px 15px rgba(255, 140, 66, 0.3);
}

.btn-login:hover {
  background: linear-gradient(to right, #ff7b2c, #ffa633);
  box-shadow: 0 6px 20px rgba(255, 140, 66, 0.4);
}

.forgot-password {
  text-align: center;
  margin: 15px 0 15px;
}

.forgot-password a {
  color: #ff8c42;
  text-decoration: none;

  font-size: 1rem;
  font-weight: 500;
}

.forgot-password a:hover {
  color: #e67e22;
  text-decoration: underline;
}

.social-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  margin-top: 0px;

  flex-wrap: wrap;
  /* يخليهم ينزلوا تحت بعض لو الشاشة ضيقة */
}

.btn-social {
  flex: 1;
  min-width: 160px;

  padding: 14px;
  margin-top: 20px;

  border-radius: 10px;
  border: 1px solid #e0e0e0;

  background-color: white;
  font-size: 0.75rem;
  font-weight: 600;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-google {
  color: #444;
}

.btn-google:hover {
  background-color: #f8f9fa;
  border-color: #ccc;
}

.btn-facebook {
  color: white;
  background-color: #2563eb;
  border-color: #2563eb;
}

.btn-facebook:hover {
  background-color: #166fe5;
}

.signup-Now {
  text-align: center;
  margin-top: 20px;

  color: #666;
  font-size: 14px;
}

.signup-Now a {
  color: #ff8c42;
  font-weight: 600;
}

/* ===========================================================
=========================responsive styles==========================
=============================================================== */

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
  body {
    overflow: auto;
  }
  .container {
    max-width: 1000px;
  }
  .btn-social {
    margin-top: 10px;
  }
}

/*لابتوب*/
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }

  body {
    margin: 0 50px;
    overflow: auto;
  }

  .welcome-section,
  .login-section {
    padding: 30px 40px;
  }

  .login-header {
    margin-top: 15px;
  }

  .form-control {
    font-size: 13.5px;
  }

  .btn-login {
    font-size: 1rem;
  }

  .social-login {
    flex-direction: column;
  }

  .forgot-password a {
    font-size: 0.95rem;
  }

  .btn-social {
    margin-top: 10px;
    font-size: 0.85rem;
  }
}

/* تابلت  */
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
  body {
    height: 100vh;
    /*لان الجهاز صغير وممكن يفتح الكيبورد */
    overflow: auto;
  }
  .container {
    max-width: 100%;
  }

  .welcome-section {
    padding: 40px 30px;
  }

  .login-section {
    padding: 20px 30px 5px 30px;
  }

  .form-control {
    font-size: 12px;
  }
}

/* موبايل*/
@media (max-width: 700px) {
  html {
    font-size: 13px;
  }

  html,
  body {
    min-height: 100vh;
    height: auto;
    /*لان الجهاز صغير وممكن يفتح الكيبورد */
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0px;
  }

  .container {
    flex-direction: column;

    min-height: 100vh;
    height: auto;

    border-radius: 0px;
    max-width: 100%;
    margin: 0px;
  }

  .logo-container {
    margin-bottom: 5px;
  }

  .welcome-section {
    flex: 0 0 auto;
    padding: 3px 10px;

    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 70px;
    height: 70px;
  }

  .company-name {
    color: white;
    text-align: center;
  }

  .company-subtitle,
  .features,
  .welcome-section h1 + p {
    display: none;
  }

  .welcome-section h1 {
    margin-top: 0px;
    margin-bottom: 6px;

    text-align: center;
    font-size: 20px;
  }

  .login-section {
    flex: 1;
    padding: 20px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: visible;
  }

  .login-header {
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .login-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .login-header h2 {
    margin-bottom: 10px;
  }

  .form-control {
    padding: 13px 35px 13px 10px;
  }

  .btn-login {
    padding: 13px;
    margin-top: 0px;
  }

  .btn-social {
    padding: 13px;
  }

  .signup-Now {
    font-size: 13px;
    margin-top: 7px;
  }

  .social-login {
    gap: 8px;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 11px;
  }
  body {
    height: 100vh;
    /*لان الجهاز صغير وممكن يفتح الكيبورد */
    overflow: auto;
  }
  .container {
    margin: 0;
  }
}

@media (max-height: 700px) and (max-width: 700px) {
  body,
  html {
    min-height: 100vh;
    height: auto;
    /*لان الجهاز صغير وممكن يفتح الكيبورد */
    overflow-y: auto;
    overflow-x: hidden;
  }
  .container {
    min-height: 100vh;
    height: auto;
  }
  .logo {
    width: 80px;
    height: 80px;
  }

  .company-name {
    font-size: 1.75rem;
    margin-bottom: 0px;
  }

  .login-section {
    padding: 15px 30px;
  }

  .form-group {
    margin-bottom: 12px;
  }

  .welcome-section {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .welcome-section H1 {
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .welcome-section p {
    font-size: 0.9rem;
  }

  .feature {
    font-size: 0.85rem;
    margin-top: 6px;
  }

  .login-header {
    margin-bottom: 10px;
  }

  .login-header h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .form-group label {
    font-size: 0.9rem;
    margin-top: 0px;
  }

  .form-control {
    font-size: 0.9rem;
    padding: 12px 40px 12px 40px;
  }

  .input-with-icon i {
    margin-bottom: 10px;
    top: 30%;
  }

  .btn-login {
    font-size: 0.9rem;
    padding: 12px;
    margin-bottom: 0px;
  }
  .forgot-password a {
    font-size: 0.75rem;
    margin-top: 5px;
  }
  .btn-social {
    margin-top: 10px;
    padding: 10px;
  }
  .signup-Now {
    font-size: 0.75rem;
    margin-top: 20px;
  }
}


.toast-message {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);

  background: #2563eb;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 0.95rem;
  font-weight: 500;

  opacity: 0;
  transition: all 0.3s ease;
  z-index: 9999;
}

.toast-message.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}